body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.content {
  margin: 0px auto;
  height: 500px;
  width: 500px;
  border-radius: 4px;
}

.header {
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.user-avatar {
  display: table-cell;
  vertical-align: middle;
}

.avatar-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.user-details {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.user-details > span {
  display: block;
  font-size: 14px;
}

.content-accent {
  color: #00ab6b;
}

.font-heavy {
  font-weight: 700;
}

.clearfix:before {
    clear: both;
}

.clearfix:after {
  clear:both;
}
