body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.post-content {
  margin: 0px auto;
  width: 700px;
}

.u-margin-header {
    margin-top: 100px;
}

.header {
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
}

.header-fixed--top {
    position: fixed;
    top: 0px;
}

.header--affixed {
    background: rgba(255,255,255,0.97);
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.header.is-inView {
    transform: translateY(0);
    transition-duration: 100ms;
}

.header.is-hidden {
    transform: translateY(-100%);
    transition-duration: 100ms;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-textAlign-center {
    text-align: center;
}

.u-borderNone {
    border: none !important;
}

.font--default {
    font-family: "Helvetica Neue", sans-serif;
}

.user-avatar {
  display: table-cell;
  vertical-align: middle;
}

.avatar-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.user-details {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.user-details > span {
  display: block;
  font-size: 14px;
}

.content-accent,
.content-accent:hover,
.content-accent:active {
  color: #00ab6b;
}

.background-accent,
.background-accent:hover,
.background-accent:active,
.background-accent:active:hover {
  background-color: #00ab6b !important;
}

.font-N7 {
  font-weight: 700;
}

.font-21 {
    font-size: 21px;
}

.clearfix:before {
    clear: both;
}

.clearfix:after {
  clear:both;
}

.post-content--body {

}

.post-content--h1 {
    font-size: 36px;
}

.post-content--h2 {
    font-size: 28px;
}
