@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lora:400,700);

/*Scale fade animation by @nscramer */
@-webkit-keyframes scale-fade{

  0%{
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0;

    -webkit-transform:scale(0.8) rotateX(-40deg);
    -moz-transform:scale(0.8) rotateX(-40deg);
    -ms-transform:scale(0.8) rotateX(-40deg);
    -o-transform:scale(0.8) rotateX(-40deg);
    transform:scale(0.8) rotateX(-40deg)
  }

  50%{
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1
  }

  70%{
    -webkit-transform:scale(1.05) rotateX(0);
    -moz-transform:scale(1.05) rotateX(0);
    -ms-transform:scale(1.05) rotateX(0);
    -o-transform:scale(1.05) rotateX(0);
    transform:scale(1.05) rotateX(0)
  }

  100%{
    -webkit-transform:scale(1) rotateX(0);
    -moz-transform:scale(1) rotateX(0);
    -ms-transform:scale(1) rotateX(0);
    -o-transform:scale(1) rotateX(0);
    transform:scale(1) rotateX(0)
  }
}


body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Lora","Helvetica Neue",sans-serif;
}

.post-content {
  margin: 0px auto;
  width: 700px;
}

.u-margin-header {
    margin-top: 100px;
}

.header {
  width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
}

.header-fixed--top {
    position: fixed;
    top: 0px;
}

.header--affixed {
    background: rgba(255,255,255,0.97);
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.header.is-inView {
    transform: translateY(0);
    transition-duration: 100ms;
}

.header.is-hidden {
    transform: translateY(-100%);
    transition-duration: 100ms;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-textAlign-center {
    text-align: center;
}

.u-borderNone {
    border: none !important;
}

.font--default {
    font-family: "Lora","Helvetica Neue",sans-serif;
}

.font--sans {
    font-family: "Open Sans";
}

.user-avatar {
  display: table-cell;
  vertical-align: middle;
}

.avatar-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.user-details {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.user-details > span {
  display: block;
  font-size: 14px;
}

.content-accent,
.content-accent:hover,
.content-accent:active {
  color: #00ab6b;
}

.background-accent,
.background-accent:hover,
.background-accent:active,
.background-accent:active:hover {
  background-color: #00ab6b !important;
}

.font-N7 {
  font-weight: 700;
}

.clearfix:before {
    clear: both;
}

.clearfix:after {
    clear:both;
}

.post-content--body {
    line-height: 1.58;
    letter-spacing: -.004em;
    font-size: 20px;
}

.post-content--h1 {
    font-size: 36px;
}

.post-content--h2 {
    font-size: 28px;
}

.is-evolved {
    -webkit-animation: scale-fade 300ms;
    animation: scale-fade 300ms;
}
