body {
  font-family: 'sfui-text','Varela', sans-serif;
  background: #FAFAFA;
}

a:focus, a:hover {
  text-decoration: none;
}

.text-underline:hover {
  text-decoration: underline;
}

.opacity-half {
  opacity: 0.5;
}

.relative {
  position: relative;
}
.background-white {
  background-color:#fff;
}

.pointer {
  cursor: pointer;
}

.color-dark, .color-dark:hover, .color-dark:focus, .color-dark:active{
  color: #506066;
}

.margin-center {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.background-grey {
  background-color: #f7f7f7;
}

.overflow-hidden {
  overflow: hidden;
}

.nolist {
  list-style: none;
}

.text-highlight-cta {
  color: #7f7f7f;
  font-size: 14px;
  font-family: 'sfui-text-bold','sfui-text','Varela';
}

.text-highlight-link {
  color: #506066;
  font-size: 14px;
  font-family: 'sfui-text-bold','sfui-text','Varela';
}

.text-highlight-link:hover,.text-highlight-link:active,.text-highlight-link:focus {
   color: #506066;
}

.readMoreLink {
  display: none;
}

.tab-pane {
  position: relative;
}

.multiline-ellipsis .readMoreLink {
  display: inline-block;
}

.container-cover .nav-pills {
  background-color: rgba(2,2,2,0.5);
  color: #fff;
}

.container-cover .nav>li>a:hover, .nav>li>a:focus{
  color: rgba(255,255,255,0.7);
  background-color: inherit;
}

.container-cover .nav-pills {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container-search {
  padding-top: 40px;
  overflow: hidden;
}

.nav-pills {
  background: #fff;
}
.nav-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-pills>li {
  margin: 0 5%;
}

.nav-pills>li>a {
  color: #fff;
  border-radius: 0;
  border: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: transparent;
  border-bottom: 2px solid #ee766b;
  color: #ee766b;
}
.btn-primary, .btn-primary:hover, .btn-primary:active:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:focus{
  background: #EE766B;
  border: 1px solid #EE766B;
  font-size: 14px;
  color: #fff;
  box-shadow: none;
  outline: 0;
  padding: 10px 20px;
  margin: 20px 0;
}

.btn-action, .btn-action:hover, .btn-action:active:hover, .btn-action:visited, .btn-action:focus {
  background-color: #2f9bdb;
  border: 1px solid #2f9bdb;
  color: #fff;
  outline: none;
  box-shadow: none;
}


.font-xlg {
  font-size: 20px;
}

.font-lg {
  font-size: 18px;
}

.font-med {
  font-size: 16px;
}

.font-default {
  font-size: 14px;
}

.font-small {
  font-size: 12px;
}

.font-xs {
  font-size: 8px;
}

.margin-none {
  margin: 0 !important;
}

.padding-none {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0 !important;
}

.section-heading {
  margin: 20px 0;
  font-size: 24px;
}

hr {
  margin: 25px 0px;
  border: 1px solid #d9d9d9;
}

.container-fix-left hr:last-child {
  display: none;
}

.well {
  border: none;
  box-shadow: none;
  background-color:#fff;
  border-radius: 0;
}

.well .row {
  padding: 20px 10px;
  border-bottom: 1px solid #979797;
}

.well .row:last-child {
  border:none;
}

.well .row:first-of-type {
  padding-top: 0;
}

.well label {
  font-weight: normal;
}
.well h3 {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0px;
  color: #4a4a4a;
  font-family: 'SF-UI-Text-Bold', 'Varela';
}
.well hr {
  border-top: 1px solid #9B9B9B;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}
.thumbnail {
  border: 1px solid #e4e4e4;
  padding: 0 0 6% 0;
  box-shadow: 0 0 5px 0 rgba(74, 74, 74, 0.2);
  border-radius: 5px;
  margin-bottom: 5px;
  position:relative;
}

.thumbnail .img-trip, .thumbnail .img-stay, .thumbnail .img-eat,.card-collection .img-collection {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.thumbnail .img-trip img, .thumbnail .img-trip div, .thumbnail .img-stay img, .thumbnail .img-stay div, .thumbnail .img-eat div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.thumbnail .img-trip img, .thumbnail .img-stay img, .thumbnail .img-eat img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.thumbnail .img-stay .overlay, .thumbnail .img-eat .overlay, .card-collection .img-collection .overlay {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.thumbnail .img-stay .pricing {
  position: absolute;
  top: 20%;
  height: 42px;
  right: 0;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 0;
  padding: 8px;
  font-size: 18px;
}
.thumbnail h4 {
  color: #4c4c4c;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 0 16px;
  line-height: 24px;
  font-family: 'metaserifpro-medi';
}
.thumbnail .img-user {
  width: 16%;
  margin-left: 16px;
  border-radius: 50%;
  float: left;
}

.thumbnail div.author-name {
    margin: 5% 16px 4px 26%;
}

.thumbnail h6 {
  color: #4a4a4a;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 16px;
  white-space: nowrap
}
.thumbnail .text-muted {
  margin: 0 16px 4px 26%;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
}
.thumbnail .text-muted a {
  color: #000;
}
.thumbnail .img-stay-provider {
  margin-right: 16px;
  float: right;
  margin-top: 18px;
}
.thumbnail .text-muted .followers {
  padding-right: 16px;
}
.thumbnail .img-stay h6 {
  margin: 5% 26% 4px 16px;
  font-size: 12px;
  color: #4A4A4A;
}
.thumbnail .img-stay .text-muted {
  margin: 0 26% 4px 16px;
  font-size: 11px;
  color: #000;
  opacity: 0.5;
}
.thumbnail .text-left {
  margin: 0 26% 4px 16px;
}
.thumbnail .reviews {
  display: block;
}
.thumbnail .img-eat .rating {
  position: absolute;
  top: 16px;
  height: 34px;
  width: 36px;
  right: 16px;
  color: #fff;
  opacity: 1;
  padding: 8px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
.thumbnail .img-eat .rating.rating-green {
  background-color: #417505;
}
.thumbnail .img-eat .rating.rating-yellow {
  background-color: #F5A623;
}
.thumbnail .img-eat .reviews {
  position: absolute;
  top: 52px;
  right: 16px;
  width: 48px;
  text-align: right;
  color: #fff;
  font-size: 11px;
  opacity: 0.7;
}
.thumbnail .img-eat h4 {
  position: absolute;
  bottom: 12px;
  font-size: 14px;
  color: #fff;
}
.thumbnail .img-eat h5 {
  position: absolute;
  bottom: 0;
  margin: 5px 16px;
  font-size: 11px;
  opacity: 0.8;
  color: #fff;
}
.thumbnail .text-muted .cost, .thumbnail .text-muted .cuisine {
  font-size: 12px;
}
.thumbnail .text-muted.margin-16 {
  margin-top: 16px;
  opacity: 0.7;
}
.thumbnail .img-eat-provider {
  margin-right: 16px;
  float: right;
  margin-top: 18px;
}


.box-wishlist {
  position: absolute;
  top: 0;
  right: 17px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 15;
}

.box-wishlist ul {
  list-style: none;
  padding: 10px 7px;
  padding-bottom: 0;
}

.box-wishlist ul li:first-child {
  margin-bottom: 10px;
}

.box-wishlist-new {
  position: absolute;
  top: 0;
  right: 0px;
}

.box-wishlist-new ul {
  list-style: none;
  padding: 10px 0px;
  padding-bottom: 0px;
}

.box-wishlist-new ul li, .box-wishlist ul li {
  cursor: pointer;
}

.box-wishlist-new ul li {
  margin-right: 16px;
}

.btn-wishlist-new {
  background: url('../img/sprites/card-icons.svg') no-repeat -1px -1px;
  width: 28px;
  height: 25px;
  margin: 5px auto;
}

.btn-wishlist-new.active {
  background: url('../img/sprites/card-icons.svg') no-repeat -49px -1px;
  width: 28px;
  height: 25px;
}

.btn-wishlist {
  background: url('../img/sprites/home-sprite.png') no-repeat -38px -60px;
  width: 17px;
  height: 16px;
  margin: 5px auto;
}

.btn-wishlist.active {
  background: url('../img/sprites/home-sprite.png') no-repeat -120px -60px;
}

.btn-share-card {
    background: url('../img/sprites/home-sprite.png') no-repeat -206px -59px;
    width: 20px;
    height: 16px;
    margin: 5px auto;
}

.search-filter {
  border: 0;
  width: 100%;
  margin: 0;
  border-radius: 0;
  padding:5px 0;
}

.container-masonry .row {
  margin: 0 -30px;
}

.navbar-filter {
  background-color: #1e7ab1;
}

.navbar-filter li {
  margin:0 5%;
  font-size: 14px;
}

.navbar-filter>li>a {
  color: #fff;
}
.navbar-filter>li>a:hover, .navbar-filter>li>a:active, .navbar-filter>li>a:focus {
  background-color: inherit;
  border:none;
}

.container-filter {
  position: relative;
}
/*.container-filter .dropdown-menu.open{
  display: block;
}*/

.container-filter .row {
    margin: 0 5%;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 2%;
}

.container-filter .form-label {
  margin: 10px 0;
}
.container-filter .search-filter-input {
  border-radius: 5px;
  border: 1px solid #2f9bdb;
  outline: none;
  width: 100%;
  padding: 8px;
}

.container-filter .row:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container-filter .btn-search {
  width: 60%;
  margin-top: 9%;
}

.container-card {
  padding:7px;
}

.thumbnail-fixed .bg-hotel,.card-collection .bg-collection {
  height: 175px;
  background-size: cover;
  background-position: center center;
}

.thumbnail-fixed h4 {
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  margin-bottom: 0;
  overflow: hidden;
  font-family: 'metaserifpro-medi';
  color: #4a4a4a;
}

.thumbnail-fixed .reviews {
  height: 20px;
}

.thumbnail-fixed .info-room {
  height: 40px;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
}

.thumbnail-fixed .text-muted .cost {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.thumbnail-fixed .text-muted .cuisine {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 5px;
  font-size: 14px;
}

h3 .subheading,h2 .subheading {
  color: #979797;
  font-size: 18px;
}

.img-cover{
  background-size: cover;
  background-position: center center;
}

.img-cover-md {
  height: 270px;
}

.img-cover-lg {
  height: 400px;
}

.container-cover {
  position: relative;
}
.container-cover .cover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.34);
}

.img-cover-text {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 1;
}

.img-cover-text h1 {
  margin:0px;
  padding:10px;
  font-size:20px;
}

.img-cover-text .weather-location {
  margin: 10px 0px;
}

.img-gallery {
  padding: 2%;
}

.img-gallery img{
  border-radius: 5px;
}

.container-map {
  height: 200px;
}

.author-details {
  color: #000;
  font-size: 12px;
}
.author-details img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.img-square {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  margin-bottom: 5px;
}

.img-square img {
  position: absolute;
}

.btn-md {
  border-radius: 5px;
  padding: 5px;
  width: 48%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  position: absolute;
  top:50%;
  z-index: 5;
  opacity: 1.0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  margin: 0 auto;
}

.view-gallery .carousel-inner .img-responsive {
  height: 400px;
}

.view-gallery .modal-backdrop.in {
  opacity: 0.9;
}

.masonry-card {
  display: none;
}

.trip-view {
  font-size: 12px;
  font-family: sfui-text;
}

.scroll-top .fa {
  margin-right: 5px;
}

.scroll-top {
  position: fixed;
  left: 50%;
  bottom: 30px;
  border-radius: 10px;
  color: #fff;
  background-color: #2f9bdb;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: -50px;
}

.logo-youtube-play {
  background: url('../img/sprites/card-icons.svg') no-repeat -30px -68px;
  width: 59px;
  height: 45px;
}

.logo-trending {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -75px -57px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.logo-recommended {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -97px -57px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.logo-hotel {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -3px -57px;
  width: 64px;
  height: 64px;
}

.logo-comment {
  background: url('../img/sprites/card-icons.svg') no-repeat -1px -46px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: bottom;
}

.logo-view {
  background: url('../img/sprites/card-icons.svg') no-repeat -63px -47px;
  width: 13px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.logo-share {
  background: url('../img/sprites/card-icons.svg') no-repeat -34px -46px;
  width: 12px;
  height: 16px;
  display: inline-block;
  vertical-align: bottom;
}

.logo-location{
  background: url('../img/sprites/home-sprite.png') no-repeat -8px -96px;
  width: 13px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-suggestion-itinerary{
  background: url('../img/sprites/home-sprite.png') no-repeat -112px -98px;
  width: 15px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-hotels{
  background: url('../img/sprites/home-sprite.png') no-repeat -40px -97px;
  width: 21px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-places{
  background: url('../img/sprites/home-sprite.png') no-repeat -79px -95px;
  width: 14px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-trip {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -2px -2px;
  width: 44px;
  height: 44px;
}

.logo-collection {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -66px -2px;
  width: 44px;
  height: 44px;
}

.logo-category {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -130px -2px;
  width: 44px;
  height: 44px;
}

.logo-itinerary {
  background: url('../img/sprites/feed-sprite.svg') no-repeat -194px -2px;
  width: 44px;
  height: 44px;
}

.logo-airbnb {
  background: url('../img/sprites/search-sprite.png') no-repeat 0 -35px;
  width: 80px;
  height: 25px;
}

.logo-expedia {
  background: url('../img/sprites/search-sprite.png') no-repeat 0 0;
  width: 86px;
  height: 25px;
}

.logo-zomato {
  background: url('../img/sprites/search-sprite.png') no-repeat -96px 0;
  width: 107px;
  height: 25px;
}

.logo-agoda {
  background: url('../img/sprites/search-sprite.png') no-repeat -95px -34px;
  width: 59px;
  height: 24px;
}

.logo-booking {
  background: url('../img/sprites/search-sprite.png') no-repeat -175px -40px;
  width: 94px;
  height: 16px;
}

.logo-snow {
  background: url('../img/sprites/search-sprite.png') no-repeat -153px -310px;
  width: 25px;
  height: 25px;

}

.logo-sunny {
  background: url('../img/sprites/search-sprite.png') no-repeat -123px -310px;
  width: 26px;
  height: 25px;
}

.logo-thunderstrom {
  background: url('../img/sprites/search-sprite.png') no-repeat -94px -310px;
  width: 26px;
  height: 25px;
}

.logo-rain {
 background: url('../img/sprites/search-sprite.png') no-repeat -65px -310px;
  width: 26px;
  height: 25px;
}

.logo-cloudy {
  background: url('../img/sprites/search-sprite.png') no-repeat -3px -310px;
  width: 25px;
  height: 25px;
}

.logo-cloudy-large {
  background: url('../img/sprites/search-sprite.png') no-repeat -3px -171px;
  width: 61px;
  height: 52px;
}

.logo-rain-large {
  background: url('../img/sprites/search-sprite.png') no-repeat -155px -166px;
  width: 61px;
  height: 61px;
}

.logo-thunderstrom.large {
  background: url('../img/sprites/search-sprite.png') no-repeat -3px -239px;
  width: 61px;
  height: 61px;
}

.logo-sunny-large {
  background: url('../img/sprites/search-sprite.png') no-repeat -75px -239px;
  width: 61px;
  height: 61px;
}

.logo-snow-large {
  background: url('imgs/search-sprite.png') no-repeat -146px -239px;
  width: 61px;
  height: 61px;
}

.route {
  display: none;
}
.route-detail {
  display: inline-block;
  margin-right: 15px;
}
.route-detail label {
  color:#ababab;
}

.route-detail:last-child {
  margin-right: 0px;
}

.img-gallery .overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: rgba(0,0,0,0.5);
  top: 2%;
  color: #fff;
  border-radius: 5px;
  left: 2%;
  right: 2%;
  bottom: 2%;
  margin: 3%;
  padding-top: 40%;
}

.button-loader {
  margin-left: 10px;
  display: none;
  height: 20px;
  width: 20px;
}

input.error {
  border:1px solid red;
}

.btn-noresult, .btn-noresult:hover, .btn-noresult:active, .btn-noresult:visited {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  color: #b6b6b6;
  display: none;
  pointer-events:none;
}

.check-login{
  display: none;
}

.thumbnail .bookable-trip{
  position: absolute;
  top:0;
  width: 100%;
  padding: 0 10px;
  background-color: rgba(255,255,255,0.7);
  z-index: 10;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sponsored-icon {
  background: url('../img/sprites/card-icons.svg') no-repeat 0px -66px;
  position: absolute;
  bottom: -12px;
  right: 26px;
  width: 28px;
  height: 28px;
}

.sponsored-icon-text {
  float: right;
  position: relative;
  margin-top: 14px;
  font-size: 8px;
  right: 16px;
  color: #3adca5;
  font-weight: bold;
}

.weather-location .current-day span {
  display: inline-block;
  vertical-align: top;
}

.weather-location .weather-forecast span {
  display: block;
  margin: 5px auto;
}

.weather-location .current-day .temp {
  font-size: 60px;
  line-height: 60px;
  margin-left: 10px;
  color: #ee887f;
}

.weather-location .current-day .location-name {
  vertical-align: bottom;
}

.weather-forecast {
  margin-top: 20px;
}

.weather-forecast .col-md-2{
  padding-left: 0;
}

.weather-location .location-name {
  vertical-align: bottom;
}

.modal .carousel {
  background: rgba(0,0,0,0.9);
}

.carousel-control .carousel-right {
  background: url('../img/sprites/search-sprite.png') no-repeat -195px -126px;
  width: 20px;
  height: 30px;
  margin: 0 auto;
}

.carousel-control .carousel-left {
  background: url('../img/sprites/search-sprite.png') no-repeat -224px -126px;
  width: 21px;
  height: 30px;
  margin: 0 auto;
}
.spot-img {
    background-size: cover;
    height: 150px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center center;
}

.col-centered {
  margin: 0 auto;
  float: none;
  display: inherit;
}

.container-spot {
  height: 175px;
  background-color: #fff;
}


.thumbnail-review:last-child{
  border:none;
}

.thumbnail-review .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(transparent, transparent, rgba(0,0,0,0.9));
  background: -moz-linear-gradient(transparent, transparent, rgba(0,0,0,0.9));
  background:  -o-linear-gradient(transparent, transparent, rgba(0,0,0,0.9));
  background: linear-gradient(transparent, transparent, rgba(0,0,0,0.9));
}

.ellipsis {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.thumbnail-review .spot-img-container {
  position: relative;
}

.thumbnail-review .text-review{
  height: 60px;
  line-height: 20px;
  overflow: hidden;
}


.thumbnail-review {
  padding: 0;
}

.thumbnail-review .review-count {
  background-color: #e7e7e7;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  width: 100%;
  outline: none;
}

.thumbnail .spot-review h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fa-chevron-right {
  margin-left: 5px;
}
/*.thumbnail-review h5 {
  margin-top: 0;
  padding-top: 10px;
  color: #2e9bdc;
}*/

.thumbnail-review h4 {
  padding: 0;
}
.thumbnail-review .img-user,.feed-card .img-user, .nav .img-user,.feed-notification .img-user {
  width: 30px;
  border-radius: 50%;
  float: left;
  height: 30px;
  margin: 0px;
}

.thumbnail-review .author-details {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
}

.thumbnail-review .container-spot {
  padding: 15px;
}

.thumbnail-review .name-author {
  margin: 3% 16px 0 40px;
  color: #4A4A4A;
  line-height: 16px;
}

.thumbnail-review .text-muted {
  margin: 0 16px 0 40px;
  color: #000;
  opacity: 0.5;
}

.thumbnail-review .text-muted .followers {
  padding-right: 0;

}

.modal .thumbnail-review .author-details {
  border: 0;
  padding: 0;
}

.modal .thumbnail-review .name-author, .modal .thumbnail-review .text-muted {
  margin: 0% 16px 0px 10%;
}

.modal .thumbnail-review {
  padding: 15px 0;
  border-bottom: 1px solid #d0d0d0;
}

.modal .thumbnail-review:first-child {
  padding-top: 0;
}

.modal .thumbnail-review:last-child {
  border-bottom: 0;
}

.container-spots {
  padding: 0;
}

.modal-body-fix {
  max-height: 350px;
  overflow: auto;
}

.container-spots .img-spot {
  padding:0;
}

.form-search {
  font-size: 0;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.form-search input {
  width: 85%;
  outline: none;
  border: none;
  padding: 15px 35px;
  background-color: rgba(255,255,255,0.8);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url('/img/searchMag.png');
  background-repeat: no-repeat;
  background-position: 2% 50%;
  color: #000;
}

.form-search button {
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border:none;
  width: 15%;
}

.form-search button:hover, .form-search button:active:hover, .form-search button:visited, .form-search button:focus{
  border: none;
}

.text-info {
  color:#2e9bdc;
}
.container-search h3 {
  margin: 20px 0px;
}

.mobile .thumbnail-trip .box-wishlist-new, .mobile .thumbnail-trip .box-wishlist {
  display: block;
}

.thumbnail-trip .box-wishlist-new, .thumbnail-trip .box-wishlist {
  display: none;
}

.thumbnail-trip:hover .box-wishlist-new, .thumbnail-trip:hover .box-wishlist {
  display: block;
}

.thumbnail-trip:hover {
  border: 1px solid #2f9bdb;
}

.btn-primary-lg, .btn-primary-lg:hover, .btn-primary-lg:active:hover, .btn-primary-lg:visited, .btn-primary-lg:active, .btn-primary-lg:focus{
  padding: 15px;
  font-size: 16px;
}

.btn-primary-lg:hover {
  background: #d96a5d;
}

.tripcard-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 1px rgba(0,0,0,0.3);

}

.image-container {
  position: relative;
  border-radius: 5px;
}

.video-container {
  position: relative;
}

.video-container .video-iframe {
  height: 0;
  padding-bottom: 60%;
  width: 100%;
  position: relative;
}

.video-container .video-iframe img {
  width: 100%;
  max-height: 350px;
}

.video-container .video-iframe .logo-youtube-play {
  position: absolute;
  top:50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.video-container .video-wishlist {
  background-color: #000;
  height: 50px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:none;
}


.video-container .video-details {
  width: 100%;
  background-color: #000;
  position: relative;
  color: #fff;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: "metaserifpro-book";
  margin-top: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.video-container .video-details  a{
  color:#fff;
}

.border-none {
  border: none !important;
}

.image-container img{
  border-radius: 5px 5px 0px 0px;
  display: block;
  width: 100%;
  background: url('../img/tripLoader.gif') no-repeat center center;
  min-height: 100px;
}

.image-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(0,0,0,0.4);
}

.trip-title {
    position: absolute;
    bottom: 0px;
    margin: 12px 16px;
    font-size: 18px;
    line-height: 24px;
    font-family: "metaserifpro-book";
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.trip-title:visited {
    color: #fff;
}

.user-avatar{
  background:transparent;
  -moz-border-radius:70px;
  -webkit-border-radius:70px;
  border-radius:70px;
  display:block;
  overflow:hidden;
  float:left;
  margin-right: 8px;
}

.user-avatar img{
  width:40px;
  height:40px;
}

.tripcard-info {
  padding: 16px;
}

.user-details {
  /*height: 36px;*/
  padding-bottom: 12px;
  line-height: 16px;
  font-family: "sfui-text";
  border-bottom: 1px solid #EBE7E7;
}

.user-name {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 900;
    line-height: 22px;
}

.user-name a {
  font-size: 14px;
  color: #506066;
}

.user-info {
  color: #9197a3;
  font-size: 14px;
  height: 24px;
  overflow: hidden;
  line-height: 22px;
}

.user-info ul{
  padding-left: 0px;
}

.user-info li{
  float: left;
  margin-right: 20px;
  text-indent: -5px;
}

.user-info li:first-child{
  text-indent: 0px;
}

.trip-description {
  margin: 8px 16px 0px 0px;
  color: #757575;
  font-size:14px;
  line-height: 20px;
  font-family: "metaserifpro-book";
  overflow: hidden;
}

.trip-tags-container {
  overflow: hidden;
}

.trip-tags {
  margin: 16px 0px 8px 0px;
  padding: 0px;
}

.trip-tags > li{
  float: left;
  list-style: none;
  font-size: 10px;
  font-family: "sfui-text";
  color: #919191;
  margin: 4px 4px 4px 0px;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  text-transform: uppercase;
}

.trip-tags-container .tag {
  padding: 4px 8px 4px 8px;
}

.trip-tags-container li a {
  display: inline-block;
  color: #919191;
}

.trip-tags-container li:hover {
  color: #757575;
  border: 1px solid #757575;
  box-shadow: 1px 1px 1px #EFEFEF;
  cursor: pointer;
}

.trip-tags-container li:hover a {
  color: #757575;
}

.tripcard-footer {
  overflow: hidden;
  position: relative;
  bottom: 0px;
  margin: 0px 16px;
  padding: 12px 0px 12px 4px;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #EBE7E7;
}

.tripcard-footer-elements > li {
  float: right;
  list-style: none;
  font-size: 14px;
  font-family: "sfui-text";
  color: #a7afb2;
  margin-left: 16px;
  cursor: pointer;
  letter-spacing: 0.2px;
}

.tripcard-footer .container-comment span, .tripcard-footer .container-share span {
  margin-right: 6px;
}

li.container-comment {
  margin-left: 0px;
}

.comment-box {
  width: 95%;
  height: 64px;
  border: 0px;
  border-radius: 0px 0px 4px 4px;
  resize: none;
  font-size: 12px;
  padding: 16px;
  border: none;
  background: #fbfbfb;
  outline: none;
  color: #506066;
  vertical-align: top;
  border: 1px solid #EBE7E7;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  -webkit-margin-collapse: separate;
}

.comment-box::-webkit-input-placeholder {
  color: #9197a3;
}
.comment-box::-moz-placeholder { /* Firefox 19+ */
  color: #9197a3;
}
.comment-box:-ms-input-placeholder {
  color: #9197a3;
}
.comment-box:-moz-placeholder { /* Firefox 18- */
  color: #9197a3;
}

.comment-list {
  border-radius: 0px 0px 4px 4px;
  padding: 0px 16px;
  max-height: 250px;
  overflow: auto;
}

.comment-list .comment:first-child {
    padding-top: 0px;
}

.comment {
  border-bottom: 1px solid #EBE7E7;
  padding: 10px;
  overflow: auto;
}

.comment:last-child {
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.comment-viewmore {
  padding: 10px;
  overflow: auto;
  border-radius: 0px 0px 4px 4px;
  font-size: 10px;
  text-align: right;
  color: #7f7f7f;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'sfui-text-bold','sfui-text','Varela';
}

.hide {
  display: none;
}

img.comment-image {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 8px;
}

.comment-text {
  width: 88%;
  font-weight: 500;
  font-size: 12px;
  color: #737373;
}

.comment-text span {
  margin-right: 4px;
  color: #3B3B3B;
  font-weight: 600;
}

.comment-text span.content {
  color: #737373;
  font-weight: 500;
}

.container-people .name-author{
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}

.container-people .col-md-4 {
  padding: 2%;
}

.thumbnail-review .spot-name, .thumbnail-fixed .hotel-distance {
  position:absolute;
  bottom: 10px;
  color: #fff;
  width: 100%;
  padding: 0 5%;
}

.thumbnail-review .spot-review {
  padding-top: 15px;
}

.thumbnail-review  .fa-map-marker {
  margin-right: 20px;
}

.modal .thumbnail-review .text-review {
  line-height: 25px;
  height: auto;
}

.view-gallery .carousel-caption {
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  left: 0;
  padding: 10px;
}

.container-no-search {
  margin: 50px 0px;
}

.container-no-search img {
  margin-top: 50px;
}

.container-people .img-square .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  color: #fff;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 40%;
}

.container-people .modal-body div[class^="col-"] {
  margin: 1% 0;
}

.disable-click {
  pointer-events: none !important;
  cursor: default;
}

.container-country .text-review {
  height: 120px;
  line-height: 20px;
}

.container-spot.container-country {
  border-radius: 5px;
}

.modal .close-modal {
  display: none;
}

.color-green {
  background-color: #3adca5;
}

.color-green:hover{
  background-color: #34C594;
}

.color-primary-text {
  color: #2f9bdb;
}

.banner-text h1 {
  font-size: 32px;
  margin:10px 0px;
  font-family: metaserifpro-book;
  font-weight: 600;
  letter-spacing: 1px;
}

.banner-text h3 {
  font-size: 22px;
  margin:10px 0px;
}

.banner-text .form-search {
  margin-top:25px;
}

.create-trip-navigation {
 padding: 16px;
}

.create-trip-container {
  height: auto;
  background-color: #fff;
  font-family: "sfui-text";
  overflow: hidden;
}

.btn-new {
  border-radius: 16px;
  border: 1px solid #3adca5;
  max-height: 32px;
  padding: 8px 10px;
  background-color: #fff;
  color: #3adca5;
  display: inline-block;
  font-size: 12px;
  margin-left: 16px;
  cursor: pointer;
}

.btn-new-disabled {
  border: 1px solid #ccc;
  color: #ccc;
}

.btn-new-primary, .btn-new-primary:hover, .btn-new-primary:active, .btn-new-primary:focus {
  /*background-color: #3adca5;*/
  background-color: #2f9bdb;
  color: #fff;
}

.btn-new-primary a, .btn-new-primary a:focus, .btn-new-primary a:hover, .btn-new-primary a:visited {
  color: #fff;
  text-decoration: none;
}

.createtrip-spot .btn-new-primary {
  float: right;
  padding: 12px;
  border-radius: 0px 0px 4px 0px;
}

.createtrip-spot .form-group {
  margin-bottom: 0px;
}

.createtrip-spot span.input-group-addon {
  border-radius: 0px 0px 0px 4px;
  background-color: #f7f7f7;
  color: #fff;
}

.createtrip-spot .form-control {
  height: 43px;
  font-family: 'sfui-text';
  outline: none;
  background: #f7f7f7;
}

.createtrip-spot .form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.create-trip-misc {
  height: auto;
  width: 380px;
  border-radius: 4px;
  position: fixed;
  right: 100px;
  margin-top: 15px;
  padding: 8px 16px 8px 16px;
  background: #fff;
  box-shadow: 0 0px 8px rgba(0,0,0,0.2);
  color: #DDD;
  z-index: 999;
}

.create-trip-misc input{
  border: none;
  outline: none;
  color: #506066;
}

.create-trip-data {
  clear: both;
  padding: 8px 0px;
}

.create-trip-date > ul{
  width: 50%;
}

.create-trip-tag {
  padding: 0px 4px;
  margin-right: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: #506066;
  font-size: 12px;
  display: inline-block;
}

.create-trip-private {
  color: #506066;
  margin-top: 36px;
  border-top: 1px solid rgba(57, 220, 164, 0.18);
}

.create-trip-content {
  min-height: 500px;
  /*margin-left: 20%;*/
  font-family: metaserifpro-book;
  border: none;
  outline: none;
  line-height: 36px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.create-trip-title {
  margin-top: 48px;
  min-height: 50px;
  font-size: 32px;
  line-height: 38px;
  font-family: sfui-text-bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.create-trip-content>blockquote {
  font-family: "MetaSerifPro-Book";
  font-style: italic;
  line-height: 32px;
  border-left: 2px solid #dd7373;
  padding-left: 20px;
  margin-left: 0px;
  padding-bottom: 3px;
}

.create-trip-content .para-active {
  border-right: 2px solid #dd7373;
}

/*.trip-cover-placeholder {
  width: 150px;
  height: 145px;
  float: left;
  margin: 0px 48px 0px 20%;
}

.trip-cover-text {
  line-height: 20px;
  margin: 32px 0px 16px 0px;
}

.trip-cover-title {
  font-size: 16px;
  font-weight: 600;
}

.tripCoverContainer .btn-new {
  margin-left: 0px;
}*/

.createtrip-spot {
  position: absolute;
  background: #FFF;
  border: 0px;
  border-radius: 4px;
  outline: none;
  z-index: 2;
}

.createtrip-spot .spot-calendar {
  padding-left: 0px;
  padding-right: 0px;
}

.createtrip-spot-active {
  border: 1px solid #dbdbdb;
  z-index: 500;
}
.createtrip-spot input{
  position: relative;
  background: #FFF;
  border-radius: 4px 4px 0px 0px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 16px;
  width: 100%;
  font-family: "metaserifpro-bookita";
}

.border-none {
  border: none !important;
}

.spot-placeholder {
  position: absolute;
  background: #FFF;
  color: #ababab;
  padding: 16px 32px;
  font-family: "metaserifpro-bookita";
}

.spot-placeholder .spot-placeholder-img {
  margin-right: 10px;
  height: 20px;
  width: 13px;
  display: inline-block;
  vertical-align: middle;
  background: url('../img/sprites/share-sprite.svg') no-repeat -195px -95px;
}

.spot-placeholder:active {
  background: #FFF;
  color: #4c4c4c;
  box-shadow: none;
}

.user-type {
  height: 16px;
  white-space: nowrap;
}

.card-collection {
  padding-bottom: 0;
}

.card-collection .text-category {
  position: absolute;
  top: 45%;
  width: 90%;
  left: 5%;
}

.card-collection .text-category a {
  color: #fff;
  font-family: metaserifpro-book;
  font-size: 18px;
}

.card-collection .img-collection .overlay {
  border-radius: 5px;
}
.card-collection .bg-collection {
  border-radius: 5px;
}

.author-only .tripcard-info {
  padding-bottom: 0;
}

.author-only .user-details {
  border-bottom: 0px;
}

.tab-content .link-static{
  margin-bottom: 30px;
}

.link-static a{
  display: none;
  padding: 10px 10px 10px 0px;
  color: #000;
  text-decoration: underline;
}

.hotel-slider-text-left {
  position: absolute;
  left: 5px;
  bottom: 0;
}

.hotel-slider-text-right {
  position: absolute;
  right: 5px;
  bottom: 0;
}

.hotel-filters-wrapper {
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 0 15%;
}

.hotel-filters-wrapper hr {
  margin: 0;
}

.hotel-slider {
  height: 3.5em;
}

.hotel-slider .slider {
  width: 100%;
}

.hotel-filters-wrapper .row {
  padding: 2em;
}

.hotel-filters-wrapper .text-muted {
  color: #757575;
}

.checkbox, .radio {
  display: none;
}

input[type=checkbox]:checked + label,input[type=radio]:checked + label {
    background: url('../img/sprites/loginSprite.png') no-repeat -300px -297px;
    width: 19px;
    height: 19px;
    display: inline-block;
    padding: 0 0 0 0px;
    cursor: pointer;
}

input[type=checkbox] + label,input[type=radio] + label{
    background: url('../img/sprites/loginSprite.png') no-repeat -254px -250px;
    width: 19px;
    height: 19px;
    display: inline-block;
    padding: 0 0 0 0px;
    cursor: pointer;
}


.trip-filter-wrapper span {
  margin: 0 10px;
  vertical-align: top;
}

@media screen and (max-width: 480px) {

  #routeModal button.close {
    font-size: 18px;
  }

  .nav-pills {
    font-size: 12px;
  }
  .container-card {
    width: 100%;
    padding:0 15px;
    margin-bottom: 16px;
  }

  .box-wishlist-new  {
    top: 0;
  }

  .box-wishlist {
    top: 0;
    right: 34px;
  }

  .thumbnail {
    margin-bottom: 15px;
  }

  .img-cover-text {
    width: 100%;
    text-align: center;
    left: 0;
  }

  .thumbnail-review .name-author {
    margin-left: 40px;
  }

  .thumbnail-review .text-muted {
    margin-left: 40px;
  }

  .container-people .col-xs-2 {
    width: 25%;

  }

  .container-gallery .col-xs-2 {
    width: 25%;
  }

  .nav-pills>li>a {
    padding: 12px 9px;
    font-size: 14px;
  }

  .hotel-mobile-landscape {
    padding: 10px;
  }

  /* hotel filters fab for mobile
  .hotel-filters-wrapper {
    display: none;
  }

  .hotel-mobile-filters {
    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 20px;
    display: block;
  }

  .hotel-mobile-filters button {
    width: 100%;
  }

  .hotel-mobile-filters button a {
    color: #fff;
  }

  .apply-filters-button {
    display: block;
    margin-top: 0;
  }

  .apply-filters-button button {
    width: 100%;
  }
   hotel filters fab for mobile ends */
}

.container-fix-right {
  padding-left: 25px;
  padding-right: 0px;
}

@media screen and (max-width: 991px){
  .slider.slider-horizontal {
    width: 100%;
  }

  .card-gallery-sm {
    margin: -7px;
  }

  .nonav-content {
    margin-top: -50px;
  }

  .hotel-filters-wrapper {
    padding: 0 5%;
  }
  .scroll-top {
    bottom: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .container-filter .btn-search {
    width: 80%;
    margin-top: 15%;
    font-size: 16px;
  }

  .navbar-filter li{
    margin: 0 2%;
    font-size: 14px;
  }

  .img-gallery-sm {
    padding: 1%;
  }
  .margin-none-sm {
    margin: 0 !important;
  }

  .padding-none-sm {
    padding: 0 !important;
  }

  .hotel-mobile-landscape:nth-child(3) {
    top: 5px;
  }

  .form-search button {
    width: 25%;
  }

  .form-search input {
    width: 75%;
  }

  .create-trip-misc {
    right: 26px;
  }
}

@media screen and (max-width: 767px){

  .video-container .video-wishlist {
    border-radius: 0;
  }

  .video-container .video-details {
    border-radius: 0;
  }

  .margin-none-xs {
    margin: 0 !important;
  }

  .padding-none-xs {
    padding: 0 !important;
  }
  .container-filter .btn-search {
    width: 100%;
    margin: 20px 0px;
    font-size: 14px;
  }
  .container-filter .row {
    border: none;
    margin: 0 5%;
  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
  }
  .img-cover-xs {
   height: 200px;
  }

  .img-cover-text {
    top: 20%;
  }
  .empty-heading {
    display: none;
  }

  .container-spots .author-spot {
    padding: 0;
  }

  .container-spot {
    height: auto;
  }

 .nav-pills>li {
    margin: 0;
  }

  .form-search button {
    display: none;
  }

  .form-search {
    width: 60%;
  }

  .form-search input {
    border-radius: 5px;
    width: 100%;
    padding: 10px 35px;
    background-position: 3% 50%;
  }

  .modal {
    z-index: 1999;
  }
  .modal-content {
    border-radius: 0;
  }

  .modal-dialog {
    margin: 0;
  }

  .img-gallery-xs {
    padding: 1%;
  }

  .img-gallery .overlay {
    padding-top: 35%;
  }
  .container-spots .thumbnail-review .name-author {
    margin-left: 15%;
  }

  .container-spots .thumbnail-review .text-muted {
    margin-left: 15%;
  }
  .spot-modal .modal {
    position: absolute;
  }

  .modal-body-fix {
    max-height: none;
  }

  .modal .close-modal {
    display: block;
    background-color: rgba(0,0,0,0.9);
    padding: 20px 10px;
    color: #fff;
  }

  .text-center-xs {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 20px;
  }

  .banner-text h3 {
    font-size: 14px;
  }

  .trip-tags-container li {
    color: #757575;
    border: 1px solid #757575;
    box-shadow: 1px 1px 1px #EFEFEF;
    cursor: pointer;
  }

  .trip-tags-container li a {
    color: #757575;
  }

}
/* How 2 reach CSS*/


#routeModal .row-fluid{
  border-bottom: 1px dashed #DCDCDC;
  padding: 14px;
}
#routeModal .row-fluid:last-child{
  border-bottom: none;
  border-radius: 5px;
}

#routeModal .line{
  float:left;
  width: 231px;
  margin: 4px 0 0px 0;
  padding: 0px 0 0 0px;
  color: #2f9bdb;
  border: 1px solid;
}


.h2rList {
  padding-left: 0;
  list-style: none;
}

.h2rLine {
  width: 100%;
  height: 3px;
  background: #4f4f4f;
  background-color: rgba(47, 155, 219, 0.34);
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

#routeModal .h2r-origin-dest {
  display: inline-block;
  vertical-align: top;
}

.route-details li{
  display: inline-block;
  margin-right: 10px;
}

.h2r-route-details{
  color: #2f9bdb;
  margin-top: 10px;
  font-size: 12px;
}

.h2rList li[class^='logo-'] {
  position: absolute;
  top: 7%;
  left: 45%;
}


#routeModal button.close{
  font-size: 30px;
}

.logo-train-xs {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -1px -32px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

.logo-flight-xs {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -38px -32px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

.logo-bus-xs {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -75px -32px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

.logo-car-xs {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -112px -32px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

.logo-walk-xs {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -149px -32px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

.logo-train {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -1px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}


.logo-flight {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -38px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.logo-fly {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -38px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.logo-bus {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -75px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.logo-car {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -112px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.logo-walk {
  background: url('../img/sprites/H2R_sprites.png') no-repeat -75px -1px;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

/* How 2 reach CSS ends */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .thumbnail-review .img-user,.feed-card .img-user, .nav .img-user,.feed-notification .img-user{
    margin-top: 0px;
  }

  .thumbnail-review .name-author {
    margin-top: 0;
    margin-left: 40px;
  }

  .thumbnail-review .text-muted {
    margin-top: 0;
    margin-left: 40px;
  }

  .spot-modal .thumbnail-review .name-author {
    margin-left: 8%;
  }

  .spot-modal .thumbnail-review .text-muted {
    margin-left: 8%;
  }

  .hotel-mobile-landscape {
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  .container-fix-left {
    padding-left: 39px;
  }

  .container-search {
    padding:0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hotel-mobile-landscape:nth-child(3) {
    top: 5px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .hotel-mobile-landscape {
    width: 33%;
  }

  .hotel-mobile-landscape:nth-child(3) {
    top: 5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .form-search input {
    width: 80%;
  }

  .form-search button {
    width: 20%;
  }
  .btn-md {
    width: 100%;
    margin-top : 10px;
  }
}
