.navbar-separation {
	margin-top: 60px;
}

.form-search button {
	padding: 12.5px 17px;
	vertical-align: bottom;
}

.form-search {
	width: 45%;
}

.navbar-brand {
	padding: 10px 0px;
}

.form-search input {
	background-image: none;
	padding-left: 20px;
}

.img-cover-text {
	top:35%;
}

.feed-card:first-child {
	margin-top: 0px;
}

.feed-card .trip-tags {
	margin: 0px;
}

.feed-card .tripcard-info {
	padding: 10px 16px;
}

.feed-card .image-container img {
	min-height: 200px;
	border-radius: 5px;
	max-height: 350px;
}

.feed-card .tripcard-footer {
	padding: 10px 0 10px 4px;

}

.feed-card .sub-heading {
	line-height: 22px;
}

.center-bar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.feed-card .tripcard-container {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.navbar-right .img-user {
	width: 32px;
	height: 32px;
}

.create-trip-container .img-user {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.navbar-right .signIn {
	padding: 10px 0px;
}

.navbar-header .fa-bars{
	padding: 12px;
}

.navbar-header .img-user-wrapper {
	padding: 4px 0px;
	margin-left: 15px;
}

.navbar-header .img-user-wrapper a {
	padding: inherit;
}

.navbar-header .img-user-wrapper a:hover, .navbar-header .img-user-wrapper a:focus {
	text-decoration: none;
	background-color: transparent;
}

.count-notification {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #f44336;
	border-radius: 50px;
	bottom: 0px;
	right: 0px;
}

.navbar-right {
	position: relative;
}

.navbar-right .nav-user {
	position: absolute;
	top: 50px;
	right: 0;
}

.navbar-right .nav-user ul {
	border-radius: 5px;
	background-color: #fff;
	color: #506066;
	padding: 8px 16px;
	list-style: none;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.navbar-right .nav-user ul li {
	margin: 10px 5px;
}

.navbar-right .nav-user ul li a {
	color: #506066;
}


.navbar-right .nav-user ul li span:first-child {
	margin-right: 15px;
}

.feed-card .text-news textarea {
  width: 80%;
  height: 85px;
  resize: none;
  outline: none;
  border:none;
}
.feed-card .text-feedevent {
  width: auto;
}
.feed-card .text-news p {
  margin: 0;
}

.feed-card .text-news {
	padding-bottom: 10px;
	line-height: 18px;
	color: #506066;
}

.feed-card  .img-user, .feed-notification .img-user {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.feed-card {
  margin: 15px 0px;
  padding: 15px;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0px 1px rgba(0,0,0,0.3);
}


.item-carousel {
	margin: 15px 5px;
}

.item-carousel:first-child {
	margin-left: 15px;
}

.item-carousel:last-child {
	margin-right: 15px;
}

.menu-collection {
	margin-top: 15px;
}

.menu-collection:first-child {
	margin-top: 0px;
}

.menu-collection ul {
	list-style: none;
	padding-left: 0;
}

.menu-collection ul li {
	margin: 5px 0px;
	line-height: 22px;
}

.menu-collection ul li  a:hover {
	text-decoration: underline;
}

.menu-collection ul li:first-child {
	 color: #9197a3;
	 font-size: 12px;
	 line-height: 22px;
	 font-weight: bold;
}

.menu-collection ul li.more {
	color: #9197a3;
	line-height: 22px;
}

.navbar-header {
	position: fixed;
	top: 0;
	z-index: 9;
	color: transparent;
	width: 100%;
	padding:0;
	padding-left: 2%;
	padding-right: 0;
}

.navbar-right a.btn-primary-transparent {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 14px;
  margin: 0 5px;
}

.navbar-right a.btn-primary-transparent:hover, .navbar-right a.btn-primary-transparent:active,.navbar-right a.btn-primary-transparent:focus {
	background-color: #2f9bdb;
  	border: 1px solid #2f9bdb;
  	transition: all 0.2s;
  	margin: 0 5px;
  	padding: 10px 15px;
}



.navbar-header {
	color:#fff;
}

.navbar-header ul {
	margin: 10px 0px;
}

.right-bar {
	padding: 15px 0px;
	padding-left: 15px;
}

.left-bar {
	padding: 15px 0px;
	padding-right: 15px;
}


.right-bar.trip-featured .tripcard-container {
	margin-bottom: 15px;
}


.link-footer {
	padding-left: 15px;
	color: rgba(80,96,102,0.5);
	border-bottom: 1px solid rgba(80,96,102,0.3);
	padding-bottom: 10px;
	margin-top: 10px;
}

.link-footer > li {
	margin-right: 25px;
	float: left;
}

.link-footer .footer-support  {
	position: absolute;
	list-style: none;
	background-color: #fff;
	z-index: 9;
	width: 150px;
	left: -100px;
	top: -240px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.link-footer .footer-support li {
	  padding: 10px 15px;
}

.link-footer .footer-support li a{
	color: rgba(0,0,0,0.7);
	font-size: 14px;
}

.app-footer {
	padding-left: 0;
	color: #506066;
	opacity: 0.5;
	list-style: none;
}
.app-footer li {
	margin-right: 20px;
	float: left;
}
.app-footer li:last-child {
	list-style-type: disc;
}

.app-footer li:first-child {
	margin-right: 10px;
}

.color-header {
	background-color: #2f9bdb;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.white-header {
	background-color: rgba(255,255,255,0.96);
}

.white-header .user-avatar {
	display: table-cell;
}

.white-header .user-details {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	border-bottom: none;
}

.white-header .user-details > span {
  	display: block;
  	font-size: 14px;
	padding-bottom: 0px;
	line-height: 16px;
	font-family: "sfui-text";
}

.white-header.is-inView {
    transform: translateY(0);
    transition-duration: 100ms;
}

.white-header.is-hidden {
    transform: translateY(-100%);
    transition-duration: 100ms;
}

.white-header .fa-bars{
	/*color: #3adca5;*/
	color: #2f9bdb;
	border-radius: 4px;
}

.color-header .form-search {
	margin: 10px 0;
	float:left;
	width: 48%;
	text-align: right;
	margin-left: 10%;
}

.color-header .form-search input {
	width: 90%;
}
.color-header .form-search button {
	width: 10%;
}

.color-header .form-search button {
	padding: 8.5px 17px;
}

.color-header .form-search input {
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: rgba(255,255,255,1.0);
	border-right: 0;
}

.color-header .form-search .btn-action {
	background-color: rgba(255,255,255,1.0);
}

.color-header .form-search .btn-action i.fa {
	opacity: 0.7;
	color:#506066;
}

.infinite-loader {
	display: inline-block;
	margin: 12px 0px;
	width: 100%;
	height: 16px;
	background: transparent url('../img/loader/infinite-loader.png') center top no-repeat;
	-webkit-animation: infinity_spinner_large 2s steps(60) infinite;
	-moz-animation: infinity_spinner_large 2s steps(60) infinite;
	animation: infinity_spinner_large 2s steps(60) infinite;
}

.feed-card .trip-description {
	margin-right: 0;
	margin-top: 0;
}

.button-social {

	outline: none;

	color: #fff;
	width: 100%;
	border-radius: 5px;
	font-size: 14px;
	display: inline-block;
	padding: 0;
	margin-bottom: 10px;
}

.button-social .icon-social {
	display: inline-block;
	width: 15%;
	padding: 10px 0px;
	background-color: rgba(0,0,0,0.1);
}

.button-social .text-social {
	display: inline-block;
	width: 85%;
	text-align: center;
	padding: 10px 0px;
}

.button-facebook {
	border: 1px solid #4a66a0;
	background-color: #4a66a0;
}

.button-google {
	border: 1px solid #dd4b39;
	background-color: #dd4b39;
}

.feed-card .story-publish {
	padding: 10px 5px;
	border-top: 1px solid rgba(151,151,151,0.3);
	border-bottom: 1px solid rgba(151,151,151,0.3);
}

.feed-card .text-news h4 {
	margin-top: 0;
	margin-bottom: 15px;
}

.feed-card .text-news .footer-publish {
	padding: 12px 15px;
	color: rgba(80,96,102,0.5);
}

.feed-card .text-news .footer-publish span {
	padding: 5px 15px;
	color: #fff;
	border-radius: 2px;
	background-color: #2f9bdb;
}

.container-fix.fix {
	position: fixed;
}

.color-header .navbar-right a.btn-publish {
	background-color:  #2f9bdb;
	border: 1px solid #2f9bdb;
	border: 1px solid #fff;
}

.create-trip-misc button.btn-publish, .create-trip-misc button.btn-publish:active .create-trip-misc button.btn-publish:hover, .create-trip-misc button.btn-publish:active:hover {
	background-color:  #fff;
	border: 1px solid #DDD;
	color: #506066;
	padding: 8px;
	font-size: 12px;
}

.create-trip-misc button.btn-primary-active, .create-trip-misc button.btn-primary-active:active, .create-trip-misc button.btn-primary-active:hover, .create-trip-misc button.btn-primary-active:active:hover {
	background-color:  #2f9bdb;
	border: 1px solid #2f9bdb;
	color: #fff;
	padding: 8px;
	font-size: 12px;
}

.modal-fb-import img.img-import-fb, .modal-fb-import li.img-import-fb {
    margin: 2px;
    border-radius: 4px;
    height: 94px;
    width: 94px;
}

.modal-fb-import button.btn-publish, .modal-fb-import button.btn-publish:active .modal-fb-import button.btn-publish:hover, .modal-fb-import button.btn-publish:active:hover {
    background-color: #fff;
    border: 1px solid #DDD;
    color: #506066;
    padding: 8px;
    font-size: 12px;
	margin-bottom: 0px;
}

.modal-fb-import button.btn-primary-active, .modal-fb-import button.btn-primary-active:active, .modal-fb-import button.btn-primary-active:hover, .modal-fb-import button.btn-primary-active:active:hover {
	background-color:  #2f9bdb;
	border: 1px solid #2f9bdb;
	color: #fff;
	padding: 8px;
	font-size: 12px;
}

.modal-fb-import .album-list-container, .modal-fb-import .picture-list{
    overflow: scroll;
    max-height: 395px;
}
.modal-fb-import .album-list-container {
	padding: 16px 0px 16px 16px;
	background: #f8f8f8;
}

.modal-fb-import .image-overlay {
    position: relative;
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
}

.text-color-light {
	color: rgba(66, 66, 66, 0.3);
}

.modal-fb-import li.import-list-album {
	background: #f8f8f8;
	padding: 8px;
}

.modal-fb-import li.import-list-album.active {
	background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
}

.hotel-default {
	width: 100%;
}

.hotel-default a {
	position: absolute;
	width: 80%;
	height: 100%;
	top: 30%;
	left: 10%;
}

.hotel-default .color-primary-text{
	font-family: MetaSerifPro-Book;
	font-size: 22px;
	margin-top: 20px;

}

#notificationsContainer .nolist-first {
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(151,151,151,0.5);
	margin-top: 5%;
}
.nolist-first li {
	margin-right: 5%;
	float: left;
}
.nolist-first li:first-child{
	list-style: none;
}

.feed-notification {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
	margin-top: 30px;
}

.feed-notification li {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
  	background-color: #f8f9f9;
}

.feed-notification li.read {
	background-color: #fff;
}

.status-notification {
	color: #9197a3;
	font-size: 10px;
}

.feed-card .image-overlay {
	border-radius: 5px;
}

/*ChatBot CSS starts*/

.img-user.img-32 {
	width: 32px;
	height: 32px;
}

.feed-card.chat-card {
	padding-left: 0;
	padding-right: 0;
}

.chatbot-wrapper {
	margin-top: 80px;
}

.chat-form button, .chat-form button:hover, .chat-form button:focus, .chat-form button:active, .chat-form button:visited, .chat-form button:active:hover {
	background-color: #2f9bdb;
	padding: 4px 9px;
	font-size: 10px;
	border: 1px solid transparent;
	margin: 0;
	border-radius: 2px;
	margin-left: 10px;
}

.chat-send {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.chat-form label {
	color: #A9A9A9;
	font-weight: 100;
}

.chat-form textarea {
	border: none;
	width: 100%;
	resize: none;
	outline: none;
}

.chat-heading {
	position: absolute;
	top: 0;
	z-index: 1;
}

.chat-heading ul {
	margin-bottom: 15px;
}

.chat-list {
	position: relative;
	top: 60px;
	min-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 80%;
}

.chat-list li {
	margin-bottom: 20px;
	position: relative;
}

.chat-list li .chat-response {
	position: absolute;
	left: 8.33%;
}

.chat-form {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.chat-form textarea {
	padding-top: 10px;
}

.chat-functionality hr {
	border-top: 0;
}

.user-chat-component p {
	position: absolute;
	right: 9%;
}

.chat-heading ul li:first-child {
	font-family: "MetaSerifPro-Bold", sans-serif;
}

.chat-heading ul li:nth-child(2) {
	font-family: 'sfui-text','Varela', sans-serif;
}

.concierge-text {
	position: absolute;
	left: 8.33%;
}

.giphy-card {
	height: 150px;
}

.giphy-card img {
	height: 100%;
	border-radius: 5px;
}

.green-dot {
	height: 7px;
	width: 7px;
	border-radius: 7px;
	background-color: #009e1d;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.day-date > div {
	text-align: center;
	padding: 20px;
	font-size: 10px;
	color: #2f9bdb;
}

.weather-card {
	width: 60%;
}

.ui-options {
	overflow-x: scroll;
	padding: 10px;
}

.ui-options > div {
	width: 1500px;
}

.ui-option-card {
	border: 1px solid #2f9bdb;
	border-radius: 22px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	margin: 0 5px;
}

/*ChatBot CSS Ends*/

@media screen and (max-width: 767px) {

	.top-header {
		position: relative;
		top: 60px;
	}

	.heading-card{
		padding-left: 10px;
	}
	.feed-card .text-news h4 {
		padding-left: 10px;
	}

	.img-cover-text {
		top:5%;
	}
	.feed-card {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0px;
	}

	.feed-card .text-news {
		padding: 0 15px;
		padding-bottom: 10px;
	}

	.image-container img {
		border-radius: 0;
	}

	.feed-card .image-overlay {
		border-radius: 0;
	}

	.img-cover-text  .form-search {
		display: none;
	}

	.img-cover-text {
		top: 20%;
	}

	.img-cover-xs {
		height: 150px;
	}

}

@media screen and (max-width:991px) {

	.color-header .navbar-right li.user-nav span {
		margin-left: 20px;
		margin-top: 5px;
		display: inline-block;
	}

	.navbar-nav.navbar-right > li > a{
		padding: 0;
		color: #506066 !important;
		font-size: 14px;
	}
	.navbar-toggle {
		margin-bottom: 0px;
	}

	.navbar-header .navbar-brand {
		max-width: 125px;
	}

	.navbar-header .navbar-brand img {
		width: 100%;
	}

	.color-header .form-search input {
		padding-top: 10px;
		padding-bottom: 10px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.nav .fa-bars {
		font-size: 20px;
		padding: 0;
	}

	.color-header .navbar-right-wrapper {
		position: absolute;
		top: 60px;
		background-color: #fff;
		color : #506066;
		right: 0;
		min-width: 200px;
		max-width: 250px;
		padding: 15px;
		z-index: 9;
		margin-top : 0;
		width: 100%;
	}

	.color-header .navbar-right{
		width: 100%;
	}

	.color-header .navbar-right li {
		padding: 5px 10px;
		display: block;
		float: none;
	}

	.color-header .navbar-right li .separation{
		border-bottom:1px solid rgba(0,0,0,0.2);
		margin: 5px 0px;
	}

	.navbar-header .overlay {
		position: fixed;
		background-color: rgba(0,0,0,0.3);
		top: 60px;
		left: 0;
		width: 100%;
	}
	.color-header .form-search .btn-action {
		padding-top: 7.5px;
		padding-bottom: 7.5px;
		display: inline-block;
	}

	.navbar-collapse.collapse  {
		 display: none!important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.container-cover {
		top:60px;
		margin-bottom: 60px;
	}

	.chatbot-wrapper {
		margin-top: 30px;
	}
}

@media screen and (max-width: 480px){
	.navbar-header .navbar-brand {
		max-width: 80px;
		margin-top: 5px;
	}

	.feed-card .image-container img {
		min-height: 150px;
		max-height: 250px;
		border-radius: 0;
	}
	.color-header .form-search .btn-action {
		display: none;
	}

	.color-header .form-search input {
		border-radius: 5px;
		width: 100%;
		border-right: 1px solid rgba(255,255,255,0.2);
		padding: 10px;
	}

	.color-header .form-search {
		width: 55%;
		text-align: left;
		margin: 10px 10px;
		margin-right: 0;
	}

	.navbar-toggle {
		margin-right: 10px;
	}

	.infinite-loader {
		margin-bottom: 50px;
	}

}


@media screen and (min-width: 768px) {
	.modal-fb-import .modal-dialog {
		width: 700px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.color-header .form-search {
		width: 60%;
		margin-left: 10%;
	}
	.form-search {
		width: 60%;
	}
	.form-search input {
		width: 89%;
	}

	.form-search button {
		width: 11%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.color-header .form-search {
		width: 45%;
		margin-left: 5%;
	}

	.form-search input {
		width: 89%;
	}

	.form-search button {
		width: 11%;
	}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.color-header .form-search {
		width: 50%;
		margin-left: 50px;
	}

	.color-header .form-search input {
		width: 80%;
	}

	.color-header .form-search button {
		width: 20%;
	}

}


@media screen and (min-width:1200px){

	.form-search button  {
		width: 9%;
	}

	.form-search input {
		width: 91%;
	}

}

@media screen and (min-width:1280px){
	.container{
		width: 1280px;
}
}

@media screen and (max-width: 1279px) {
	.container{
		width: 100%;
	}
}
